@model Final.Models.BlogPost

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Wp-admin/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Tao nguoi dung
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Quan tri</a></li>
        <li class="active">Quan ly nguoi dung</li>
        <li class="activi">Tao nguoi dung</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-action="Create">
                <div class="form-horizontal">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Bao cao trang lua dao truc tuyen</h2>
                        </div><!-- /.box-header -->
                        <div class="panel-body">
                            <p></p>
                            <div class="form-group">
                                <label asp-for="URL" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input type="url" asp-for="URL" class="form-control" />
                                    <span asp-validation-for="URL" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="CategoryId" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="g-recaptcha" data-sitekey="6Lfd2A8UAAAAAEBsxMi4memnS3SB3IZnXnZddGMb" data-callback='doSomething'></div>
                                    <span class="text-danger" id="recaptchaErrorMessage"></span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label asp-for="Content" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <textarea asp-for="Content">Easy (and free!) You should check out our premium features.</textarea>
                                    <span asp-validation-for="Content" class="text-danger" />
                                </div>
                            </div>

                        </div>

                        <div class="panel-footer">
                            <div class="form-group">
                                <div class="col-md-10"></div>
                                <div class="pull-right col-md-2">
                                    <input style="display: none" id="togglee" type="submit" value="Send" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <script src="~/lib/jquery/dist/jquery.js"></script>
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            <script type="text/javascript" language="javascript">
                            function doSomething() {
                                var isCaptchaValidated = false;
                                var response = grecaptcha.getResponse();
                                if (response.length == 0) {
                                    isCaptchaValidated = false;
                                    alert('vui lòng xác th?c b?n không là robot');
                                } else {
                                    isCaptchaValidated = true;
                                }


                                if (isCaptchaValidated) {
                                    document.getElementById('togglee').style.display = 'block';
                                    //you can now submit your form
                                }
                            }

            </script>
        </div>
    </div>
</section>