@model Final.Models.BlogPost

@{
    ViewData["Title"] = "Edit Post";
    Layout = "~/Areas/Wp-admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Edit Post
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Manager</a></li>
        <li class="active">Post Manager</li>
        <li class="activi">Edit Post</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">

                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Edit Post</h3>

                                    <span class="label label-success pull-right"><i class="fa fa-search-plus"></i></span>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div><!-- /.box-header -->
                                <form asp-action="Edit">
                                    <div class="box-body">

                                        <div class="form-horizontal">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="ID" />
                                            <div class="form-group">
                                                <label asp-for="URL" class="col-md-2 control-label"></label>
                                                <div class="col-md-10">
                                                    <input type="url" asp-for="URL" class="form-control" />
                                                    <span asp-validation-for="URL" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CategoryId" class="control-label col-md-2"></label>
                                                <div class="col-md-10">
                                                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                                    <span asp-validation-for="CategoryId" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Content" class="col-md-2 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="Content" class="form-control" />
                                                    <span asp-validation-for="Content" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Create_DT" class="col-md-2 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="Create_DT" class="form-control" />
                                                    <span asp-validation-for="Create_DT" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Auth_status" class="col-md-2 control-label"></label>
                                                <div class="col-md-10">
                                                    <select asp-for="Auth_status" class="form-control" asp-items="ViewBag.Auth_status"></select>
                                                    <span asp-validation-for="Auth_status" class="text-danger" />
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <label asp-for="Notes" class="col-md-2 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="Notes" class="form-control" />
                                                    <span asp-validation-for="Notes" class="text-danger" />
                                                </div>
                                            </div>

                                            
                                        </div>


                                        
                                     </div>
                                     <div class="box-footer clearfix">
                                             <a asp-action="Index" class="btn btn-sm btn-default btn-flat pull-left">Back to List</a>
                                             <input type="submit" value="Save" class="btn btn-sm btn-warning btn-flat pull-right" />
                                     </div>
                                </form>
                                @section Scripts {
                                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                                }
                            </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>