@model Final.Models.BlogPost

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Wp-admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        T?o ng??i dùng
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Qu?n tr?</a></li>
        <li class="active">Qu?n lý ng??i dùng</li>
        <li class="activi">T?o ng??i dùng</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">

                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">T?o ng??i dùng</h3>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <span class="label label-success pull-right"><i class="fa fa-search-plus"></i></span>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <form asp-action="Edit">
                                        <div class="form-horizontal">
                                            <h4>BlogPost</h4>
                                            <hr />
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="ID" />
                                            <div class="form-group">
                                                <label asp-for="Auth_status" class="col-md-2 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="Auth_status" class="form-control" />
                                                    <span asp-validation-for="Auth_status" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="AuthorId" class="control-label col-md-2"></label>
                                                <div class="col-md-10">
                                                    <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                                                    <span asp-validation-for="AuthorId" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CategoryId" class="control-label col-md-2"></label>
                                                <div class="col-md-10">
                                                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                                    <span asp-validation-for="CategoryId" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Checker_ID" class="col-md-2 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="Checker_ID" class="form-control" />
                                                    <span asp-validation-for="Checker_ID" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Content" class="col-md-2 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="Content" class="form-control" />
                                                    <span asp-validation-for="Content" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Create_DT" class="col-md-2 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="Create_DT" class="form-control" />
                                                    <span asp-validation-for="Create_DT" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Notes" class="col-md-2 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="Notes" class="form-control" />
                                                    <span asp-validation-for="Notes" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Publish_DT" class="col-md-2 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="Publish_DT" class="form-control" />
                                                    <span asp-validation-for="Publish_DT" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="URL" class="col-md-2 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="URL" class="form-control" />
                                                    <span asp-validation-for="URL" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Save" class="btn btn-default" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                    <div>
                                        <a asp-action="Index">Back to List</a>
                                    </div>

                                    @section Scripts {
                                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>