@model Final.Areas.Admin.ViewModels.CreateModel

@{
    ViewData["Title"] = "Tạo người dùng";
}
<section class="content-header">
    <h1>
        Create member
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Manager</a></li>
        <li class="">Member Manager</li>
        <li class="active">Create member</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">

                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Create</h3>
                                    <span class="label label-success pull-right"><i class="fa fa-info"></i></span>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <form asp-action="Create" method="post">
                                        <div class="form-group">
                                            <label asp-for="Name"></label>
                                            <input asp-for="Name" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Email"></label>
                                            <input asp-for="Email" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password"></label>
                                            <input asp-for="Password" class="form-control" type="password" />
                                        </div>
                                        <button type="submit" class="btn btn-primary">Create</button>
                                        <a asp-action="Index" class="btn btn-default">Cancel</a>
                                    </form>
                                </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>