@{
    ViewData["Title"] = "RP - Báo cáo lừa đảo trực tuyến";
}

<!--/services-->
<section id="services" class="section pad-bot5">
    <div class="container">
        <div>
            <div class="col-md-9 ">

                <form class="searchForm" method="get" action="">
                    <input class="searchTerm" placeholder="Search…" autocomplete="off" />
                    <input type="submit" class="searchBtn" value="GO" />
                    <ul class="suggestionBox">
                        <li><b>a</b>pple</li>
                        <li><b>a</b>ndroid</li>
                        <li><b>a</b>mazon</li>
                        <li><b>a</b>ol</li>
                        <li><b>a</b>tlanta</li>
                    </ul>
                </form>
                <div class="panel panel-success">
                    <div class="panel-heading" style="background-color: #00a65a !important">
                        <h3 class="panel-title"><span class="fa fa-search"></span>Tìm kiếm</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-1"><span class="badge">42</span></div>
                        <div class="col-md-1"><span class="glyphicon glyphicon-star"></span></div>
                        <div class="col-md-5">
                            <h5>www.nguyenit.net </h5>
                            <p>Đây là m65t website cực kỳ ngy hiểm ch tất cả mọi ngườ. bạn hãy cận thận</p>
                        </div>
                        <div class="col-md-2">
                            <p class="bg-primary">nạp tiền điện thoại</p>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading" style="background-color: #00a65a !important">
                        <h3 class="panel-title">Panel Heading</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-1"><span class="badge">42</span></div>
                        <div class="col-md-1"><span class="glyphicon glyphicon-star"></span></div>
                        <div class="col-md-5">
                            <h5>www.nguyenit.net </h5>
                            <p>Đây là m65t website cực kỳ ngy hiểm ch tất cả mọi ngườ. bạn hãy cận thận</p>
                        </div>
                        <div class="col-md-2">
                            <p class="bg-primary">nạp tiền điện thoại</p>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <hr>
                    <div class="panel-body">
                        <div class="col-md-1"><span class="badge">42</span></div>
                        <div class="col-md-1"><span class="glyphicon glyphicon-star"></span></div>
                        <div class="col-md-5">
                            <h5>www.nguyenit.net </h5>
                            <p>Đây là m65t website cực kỳ ngy hiểm ch tất cả mọi ngườ. bạn hãy cận thận</p>
                        </div>
                        <div class="col-md-2">
                            <p class="bg-primary">nạp tiền điện thoại</p>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <nav>
                    <ul class="pagination">
                        <li><a aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li><a>1</a></li>
                        <li><a>2</a></li>
                        <li><a>3</a></li>
                        <li><a>4</a></li>
                        <li><a>5</a></li>
                        <li><a aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Chuyên mục</h3>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
                <img src="http://v3.oasearch.net/images/51wZrJpDNuL._SX408_BO1,204,203,200_.jpg" class="img-responsive" />

            </div>
        </div>
    </div>
</section>
