
@{ 
    @ViewData["Title"] = "Truy cập bị từ chối";
}

<div class="bg-danger panel-body"><h4>Truy cập bị từ chối</h4></div>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">OK</a>