@model Final.Models.BlogCategory

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Wp-admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Edit Category
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Manager</a></li>
        <li class="">Category Manager</li>
        <li class="active">Edit Category</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">

                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Edit</h3>
                                    <span class="label label-success pull-right"><i class="fa fa-edit"></i></span>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <form asp-action="Edit">
                                        <div class="form-horizontal">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="CategoryId" />
                                            <div class="form-group">
                                                <label asp-for="CategoryName" class="col-md-2 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="CategoryName" class="form-control" />
                                                    <span asp-validation-for="CategoryName" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CategoryDes" class="col-md-2 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="CategoryDes" class="form-control" />
                                                    <span asp-validation-for="CategoryDes" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="OrderNo" class="col-md-2 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="OrderNo" class="form-control" />
                                                    <span asp-validation-for="OrderNo" class="text-danger" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="box-footer clearfix">
                                            <a asp-action="Index" class="btn btn-sm btn-default btn-flat pull-left">Back to List</a>
                                            <input type="submit" value="Save" class="btn btn-sm btn-warning btn-flat pull-right" />
                                        </div>
                                    </form>

                                    

                                    @section Scripts {
                                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>